---
title: First Eleventy Project
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
        {% include "css/custom.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
        {{ css | cssmin | safe }}
    </style>

    <!-- tiny slider -->
    <link rel="stylesheet" href="{{ "tiny-slider.css" | url }}">

    <title>{{ title }}</title>

  </head>
  <body>
    <div class="content">
        {{ content | safe }}

    <div class="my-slider">
      <div><img src="https://via.placeholder.com/400x300" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300" alt=""></div>
      <div><img src="https://via.placeholder.com/400x300" alt=""></div>
    </div>

    </div>
    <script src="{{ "/tiny-slider.js" | url }}"></script>
    <script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
  });
</script>
  </body>
</html>