---
title: First Eleventy Project
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
        {% include "css/custom.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
        {{ css | cssmin | safe }}
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="content">
        {{ content | safe }}
    </div>
  </body>
</html>